// SPDX-License-Identifier: (GPL-2.0+ or MIT)
/*
 * Copyright (C) 2018 Marcus Cooper
 * Author: Marcus Cooper <codekipper@gmail.com>
 */

/dts-v1/;
#include "sun9i-a80.dtsi"

#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Sunchip CX-A99";
	compatible = "sunchip,cx-a99", "allwinner,sun9i-a80";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	leds {
		compatible = "gpio-leds";

		/* The LED names match those found on the board */
		led {
			label = "mk80:led:usr";
			gpios = <&pio 7 1 GPIO_ACTIVE_HIGH>;
		};
	};

	reg_usb1_vbus: usb1-vbus {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&pio 7 4 GPIO_ACTIVE_HIGH>; /* PH4 */
	};

	reg_usb3_vbus: usb3-vbus {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&pio 7 5 GPIO_ACTIVE_HIGH>; /* PH5 */
	};

	sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "On-board SPDIF";
		simple-audio-card,cpu {
			sound-dai = <&spdif>;
		};

		simple-audio-card,codec {
			sound-dai = <&spdif_out>;
		};
	};

	spdif_out: spdif-out {
		#sound-dai-cells = <0>;
		compatible = "linux,spdif-dit";
	};

	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		clocks = <&ac100_rtc 1>;
		clock-names = "ext_clock";
		/* enables internal regulator and de-asserts reset */
		reset-gpios = <&r_pio 0 2 GPIO_ACTIVE_LOW>; /* PL2 WL-PMU-EN */
	};
};

&de {
	status = "okay";
};

&gmac {
	pinctrl-names = "default";
	pinctrl-0 = <&gmac_rgmii_pins>;
	phy = <&phy1>;
	phy-mode = "rgmii";
	phy-supply = <&reg_cldo1>;
	status = "okay";

	phy1: ethernet-phy@1 {
		reg = <1>;
	};
};

&ehci0 {
	status = "okay";
};

&ehci1 {
	/* Enable if HSIC peripheral is connected */
	status = "disabled";
};

&ehci2 {
	status = "okay";
};

&mmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc0_pins>;
	vmmc-supply = <&reg_dcdce>;
	bus-width = <4>;
	cd-gpios = <&pio 7 18 GPIO_ACTIVE_LOW>; /* PH8 */
	status = "okay";
};

&mmc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc1_pins>;
	vmmc-supply = <&reg_cldo3>;
	vqmmc-supply = <&reg_aldo2>;
	mmc-pwrseq = <&wifi_pwrseq>;
	bus-width = <4>;
	non-removable;
	status = "okay";
};

&mmc1_pins {
	bias-pull-up;
};

&mmc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc2_8bit_pins>;
	vmmc-supply = <&reg_dcdce>;
	bus-width = <8>;
	non-removable;
	cap-mmc-hw-reset;
	status = "okay";
};

&mmc2_8bit_pins {
	/* Increase drive strength for DDR modes */
	drive-strength = <40>;
};

&ohci0 {
	status = "okay";
};

&ohci2 {
	status = "okay";
};

&osc32k {
	/* osc32k input is from AC100 */
	clocks = <&ac100_rtc 0>;
};

&r_ir {
	status = "okay";
};

&r_rsb {
	status = "okay";

	ac100: codec@e89 {
		compatible = "x-powers,ac100";
		reg = <0xe89>;

		ac100_codec: codec {
			compatible = "x-powers,ac100-codec";
			interrupt-parent = <&r_pio>;
			interrupts = <0 9 IRQ_TYPE_LEVEL_LOW>;	/* PL9 */
			#clock-cells = <0>;
			clock-output-names = "4M_adda";
		};

		ac100_rtc: rtc {
			compatible = "x-powers,ac100-rtc";
			interrupt-parent = <&nmi_intc>;
			interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&ac100_codec>;
			#clock-cells = <1>;
			clock-output-names = "cko1_rtc",
					     "cko2_rtc",
					     "cko3_rtc";
		};
	};

	pmic@745 {
		compatible = "x-powers,axp808", "x-powers,axp806";
		reg = <0x745>;
		interrupt-parent = <&nmi_intc>;
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
		interrupt-controller;
		#interrupt-cells = <1>;

		swin-supply = <&reg_dcdce>;

		/* In comments: Status taken from vendor sys_config1.fex. */
		regulators {
			/* 3.0 V (enabled). */
			reg_aldo1: aldo1 {
				regulator-boot-on;
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-name = "vcc-3v0-1";
			};

			/* 1.8 V (enabled). */
			reg_aldo2: aldo2 {
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3600000>;
				regulator-name = "vcc-pg-pm-wifi+btio-audio";
			};

			/* 2.5 V (enabled). */
			reg_aldo3: aldo3 {
				regulator-boot-on;
				regulator-min-microvolt = <2500000>;
				regulator-max-microvolt = <2500000>;
				regulator-name = "vcc-pa-gmac2v5";
			};

			/* 1.8 V (enabled). */
			reg_bldo1: bldo1 {
				regulator-boot-on;
				regulator-always-on;	/* Hang if disabled */
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vdd18-dll-vcc18-pll";
			};

			/* 0.9 V (enabled). */
			reg_bldo2: bldo2 {
				regulator-boot-on;
				regulator-always-on;	/* Hang if disabled */
				regulator-min-microvolt = < 800000>;
				regulator-max-microvolt = <1100000>;
				regulator-name = "vdd-cpus";
			};

			/* 1.2 V (disabled). */
			reg_bldo3: bldo3 {
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-name = "vcc12-hsic";
			};

			/* 1.1 V (enabled). */
			reg_bldo4: bldo4 {
				regulator-boot-on;
				regulator-min-microvolt = <1100000>;
				regulator-max-microvolt = <1100000>;
				regulator-name = "vdd09-hdmi";
			};

			/* 3.3 V (enabled). PLx pins control some regulators. */
			reg_cldo1: cldo1 {
				regulator-boot-on;
				regulator-always-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc-pl-led";
			};

			/*
			 * cldo2 and cldo3 are connected in parallel.
			 * There is currently no way to express that.
			 * For now, use regulator-always-on on cldo2 and lock
			 * the voltage on both to 3.3 V.
			 *
			 * 3.3 V (disabled).
			 */
			reg_cldo2: cldo2 {
				regulator-always-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vbat2-wifi+bt";
			};

			/* 3.3 V (disabled). */
			reg_cldo3: cldo3 {
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vbat1-wifi+bt";
			};

			/* 0.9 V (enabled). */
			reg_dcdca: dcdca {
				regulator-boot-on;
				regulator-always-on;
				regulator-min-microvolt = < 800000>;
				regulator-max-microvolt = <1100000>;
				regulator-name = "vdd-cpua";
			};

			/* 1.5 V (enabled). */
			reg_dcdcb: dcdcb {
				regulator-boot-on;
				regulator-always-on;
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <1500000>;
				regulator-name = "vcc-dram";
			};

			/* 0.9 V (disabled). */
			reg_dcdcc: dcdcc {
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-name = "vdd-gpu";
			};

			/* 0.9 V (enabled). */
			reg_dcdcd: dcdcd {
				regulator-boot-on;
				regulator-always-on;	/* Hang if disabled. */
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-name = "vdd-sys";
			};

			/* 3.3 V (enabled). */
			reg_dcdce: dcdce {
				regulator-boot-on;
				regulator-always-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc-pb-pc-pd-pe-pf-ph-mmc-spdif";
			};

			/* 3.3 V (disabled). */
			reg_sw: sw {
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc-gmac3v3";
			};
		};
	};
};

&spdif {
	pinctrl-names = "default";
	pinctrl-0 = <&spdif_tx_pins_a>;
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_ph_pins>;
	status = "okay";
};

&usbphy1 {
	phy-supply = <&reg_usb1_vbus>;
	status = "okay";
};

&usbphy2 {
	phy-supply = <&reg_bldo4>;
	/* Enable if HSIC peripheral is connected */
	status = "disabled";
};

&usbphy3 {
	phy-supply = <&reg_usb3_vbus>;
	ctatus = "okay";
};
